<?xml version="1.0"?>
<configuration>
  <connectionStrings>
      <clear/>
      <add name="LocalSqlServer" connectionString="Data Source=(local);Initial Catalog=QutSensors;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <!-- Audio utility locations-->
    <add key="AudioUtilityFfmpegExe" value="Executables\ffmpeg\ffmpeg.exe"/>
    <add key="AudioUtilityWvunpackExe" value="Executables\wavpack\wvunpack.exe"/>
    <add key="AudioUtilityMp3SpltExe" value="Executables\mp3splt\mp3splt.exe"/>

    <add key="AudioDataStorageDir" value="C:\QutSensors\trunk\AudioDataStorage" />
    <add key="UploadFolder" value="c:\Temp" />
    <add key="LogFileDir" value="C:\QutSensors\trunk\AudioDataStorage" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
