
#logo {
    width: auto;
    height: 100%;
}

.index-toc {

}

.index-toc .nav {
    list-style-type: decimal;
}
.index-toc .nav li{
    display: revert;
}

figure {
    padding-bottom: 1em;
}

figure>figcaption {
    font-weight: bold;
    text-align: center;
}

aside {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 1em;
    margin: 2em;
    font-size: 90%;
}