# Auto detect text files and perform LF normalization
* text=auto

# These files are text and should be normalized (convert crlf => lf)
*.cs      text diff=csharp
*.xaml    text
*.csproj  text
*.fsproj  text
*.sln     text
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text
# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary
*.sdf     binary
*.exe     binary
*.dll     binary
*.mp3 filter=lfs diff=lfs merge=lfs -text
