<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="SqLiteFileSystem Packages" value="https://ci.appveyor.com/nuget/sqlitefilesystem-dcfwbf0p9du0" />
    <add key="natemcmaster Packages" value="https://www.myget.org/F/natemcmaster" />
    <add key="SixLabors Packages (myget)" value="https://www.myget.org/F/sixlabors" />
  </packageSources>
</configuration>