<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.myget.org/docs/how-to/package-not-found-during-package-restore -->
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="sixlabors-myget" value="https://www.myget.org/F/sixlabors/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>