<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type=""/>
      </add>
      <add initializeData="C:\web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <appSettings>
    <add key="EnhancementPath" value="C:\Sensors\EnhancementDemo\EnhancementDemo.exe"/>
    <add key="MonitorEnhancementPrompt" value="false"/>
    <add key="ConversionFolder" value="C:\Temp"/>
    <add key="UploadFolder" value="C:\Temp"/>
    <add key="ReadingsDateFormat" value="yyyyMMdd-HHmmss"/>
    <add key="TemplateDir" value="C:\Users\masonr\Sensors\trunk\WebFrontend\Templates\"/>
    <add key="ShouldLogDeviceWebServiceCalls" value="false"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\Temp\;"/>
    <add key="DefaultProfileSettings" value="~\DefaultUserSettings.xml"/>
    <!-- Anthony's Visualisation -->
    <add key="VETokenUserName" value="136232"/>
    <add key="VETokenPassword" value="p5uwrE?h5pUt!U"/>
    <add key="profilePath" value="LocationProfiles.xml"/>
    <add key="profileSchemaPath" value="LocationProfiles.xsd"/>
    
    <add key="AdministratorRoleName" value="administrators" />
    <add key="AnalysisSettingsFiles" value="~\Processor\ParameterFiles\"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=(local);Initial Catalog=QutSensors;Integrated Security=True;"/>
  </connectionStrings>
  <system.web>
    <globalization culture="en-AU" uiCulture="en-AU"/>
    <trace enabled="true" pageOutput="false" requestLimit="100" localOnly="true"/>
    <!-- executionTimeout in seconds. maxRequestLength in kb. -->
    <httpRuntime enableVersionHeader="false" maxRequestLength="180000" executionTimeout="1000"/>
    <compilation debug="true" strict="true" explicit="true">
      <assemblies>
        <add assembly="RikMigrations" />
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.SqlServer.Types, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.DynamicData, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <expressionBuilders>
        <add expressionPrefix="Code" type="CodeExpressionBuilder, App_Code, Culture=neutral"/>
      </expressionBuilders>
      <buildProviders>
        <add extension="*.asbx" type="Microsoft.Web.Preview.Services.BridgeBuildProvider"/>
      </buildProviders>
    </compilation>
    <customErrors mode="Off" />
    <pages masterPageFile="~/CleanMaster.master" theme="QUT">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="QUT" namespace="QutWebsiteTemplate"/>
        <add tagPrefix="QUT" namespace="QutSensors.Controls"/>
        <add tagPrefix="QUT" tagName="TagCloudSelecter" src="~/Controls/TagCloudSelecter.ascx"/>
        <add tagPrefix="QUT" tagName="ModalUpdatingPanel" src="~/Controls/ModalUpdatingPanel.ascx"/>
        <add tagPrefix="QUT" tagName="SilverlightPlayer" src="~/Controls/SilverlightPlayer.ascx"/>
        <add tagPrefix="QUT" tagName="LazyAhqiValue" src="~/Controls/LazyAhqiValue.ascx"/>
        <add tagPrefix="QUT" tagName="ReadingsFilterUI" src="~/Controls/ReadingsFilterUI.ascx"/>
        <add tagPrefix="QUT" tagName="ProjectDetails" src="~/Controls/ProjectDetails.ascx"/>
        <add tagPrefix="QUT" tagName="ToolboxControl" src="~/Controls/ToolboxControl.ascx"/>
        <add tagPrefix="QUT" tagName="MapLocation" src="~/Controls/MapLocation.ascx"/>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.UI" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.UI.Controls" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.Search" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="asp" namespace="Microsoft.Web.Preview.Diagnostics" assembly="Microsoft.Web.Preview"/>
        <add tagPrefix="ajax" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="nStuff" namespace="nStuff.UpdateControls" assembly="nStuff.UpdateControls"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove path="*.asmx" verb="*"/>
      <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="*.asbx" verb="GET,HEAD,POST" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="SearchSiteMaps.axd" verb="GET" type="Microsoft.Web.Preview.Search.SearchSiteMapHandler" validate="true"/>
      <add path="Diagnostics.axd" verb="*" type="Microsoft.Web.Preview.Diagnostics.DiagnosticsHandler" validate="true"/>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter"/>
    </httpModules>
    <siteMap defaultProvider="QueryStringSiteMapProvider" enabled="true">
      <providers>
        <!-- add name="SensorSiteMapProvider" type="QutWebsiteTemplate.SensorSiteMapProvider"/ -->
        <!-- add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap"/ -->
        <add name="QueryStringSiteMapProvider" type="QutSensors.Logic.QueryStringSiteMapProvider" siteMapFile="web.sitemap"/>
      </providers>
    </siteMap>
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" loginUrl="users/Login.aspx" defaultUrl="secured/ProfileProperties.aspx" protection="All" timeout="43200" path="/" requireSSL="false" slidingExpiration="true" cookieless="UseCookies" enableCrossAppRedirects="false"/>
    </authentication>
    <identity impersonate="false"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="43200" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" cookieless="UseCookies"/>
    <!--<trust level="Medium"/>-->
    <profile defaultProvider="MyProfileProvider" enabled="true">
      <properties>
        <add name="Volume" allowAnonymous="true" type="System.Double" defaultValue="0.85"/>
        <add name="IsMute" allowAnonymous="true" type="System.Boolean" defaultValue="false"/>
        <add name="PlayerSettings" allowAnonymous="true" type="PlayerSettings" serializeAs="Xml" defaultValue="&#xD;&#xA;              &lt;PlayerSettings xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;&#xD;&#xA;                  &lt;TurnOnLooping&gt;true&lt;/TurnOnLooping&gt;&#xD;&#xA;                  &lt;ChunkSize_ms&gt;120000&lt;/ChunkSize_ms&gt;&#xD;&#xA;                  &lt;OnlyEverRequestWholeChunks&gt;true&lt;/OnlyEverRequestWholeChunks&gt;&#xD;&#xA;              &lt;/PlayerSettings&gt;&#xD;&#xA;             "





              />
        <add name="DisplayName" allowAnonymous="false" type="System.String"/>
        <add name="ProfileAlreadyMigrated" allowAnonymous="true" type="System.Boolean" defaultValue="false"/>
      </properties>
      <providers>
        <add name="MyProfileProvider" connectionStringName="LocalSqlServer" applicationName="QutSensors" type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
    </profile>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear/>
        <add name="MyMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="QutSensors" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="20"/>
      </providers>
    </membership>
    <roleManager defaultProvider="MyRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add name="MyRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="QutSensors"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
    </modules>
    <handlers>
      <clear/>
      <remove name="ChartImageHandler"/>
      <add name="ScriptResource" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="AJAX" path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="rules-Integrated" path="*.rules" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="rules-ISAPI-2.0" path="*.rules" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="rules-64-ISAPI-2.0" path="*.rules" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="xoml-Integrated" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="xoml-ISAPI-2.0" path="*.xoml" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="xoml-64-ISAPI-2.0" path="*.xoml" verb="*" type="" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="ASPClassic" path="*.asp" verb="GET,HEAD,POST" type="" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" preCondition=""/>
      <add name="SecurityCertificate" path="*.cer" verb="GET,HEAD,POST" type="" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" preCondition=""/>
      <add name="TraceHandler-Integrated" path="trace.axd" verb="GET,HEAD,POST,DEBUG" type="System.Web.Handlers.TraceHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="WebAdminHandler-Integrated" path="WebAdmin.axd" verb="GET,DEBUG" type="System.Web.Handlers.WebAdminHandler" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="AssemblyResourceLoader-Integrated" path="WebResource.axd" verb="GET,DEBUG" type="System.Web.Handlers.AssemblyResourceLoader" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT" type="System.Web.UI.SimpleHandlerFactory" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="WebServiceHandlerFactory-Integrated" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="WCFService" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add name="HttpRemotingHandlerFactory-rem-Integrated" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="HttpRemotingHandlerFactory-soap-Integrated" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" modules="ManagedPipelineHandler" scriptProcessor="" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
      <add name="AXD-ISAPI-2.0" path="*.axd" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="SimpleHandlerFactory-ISAPI-2.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="WebServiceHandlerFactory-ISAPI-2.0" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="AXD-ISAPI-2.0-64" path="*.axd" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="PageHandlerFactory-ISAPI-2.0-64" path="*.aspx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="SimpleHandlerFactory-ISAPI-2.0-64" path="*.ashx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="WebServiceHandlerFactory-ISAPI-2.0-64" path="*.asmx" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" path="*.rem" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" path="*.soap" verb="GET,HEAD,POST,DEBUG" type="" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
      <add name="TRACEVerbHandler" path="*" verb="TRACE" type="" modules="ProtocolSupportModule" scriptProcessor="" resourceType="Unspecified" requireAccess="None" preCondition=""/>
      <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" type="" modules="ProtocolSupportModule" scriptProcessor="" resourceType="Unspecified" requireAccess="None" preCondition=""/>
      <add name="ISAPI-dll" path="*.dll" verb="*" type="" modules="IsapiModule" scriptProcessor="" resourceType="File" requireAccess="Execute" preCondition=""/>
      <add name="StaticFile" path="*" verb="*" type="" modules="DefaultDocumentModule,StaticFileModule,DirectoryListingModule" scriptProcessor="" resourceType="Either" requireAccess="Read" preCondition=""/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering allowDoubleEscaping="true"/>
    </security>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <profileService enabled="true" readAccessProperties="Volume,IsMute,DisplayName" writeAccessProperties="Volume,IsMute"/>
        <authenticationService enabled="true" requireSSL="true"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <rewriter>
    <if header="HOST" match="^(www.sensor.mquter.qut.edu.au)$">
      <redirect name="Sensor" url="^(.*)$" to="http://sensor.mquter.qut.edu.au$1"/>
    </if>
    <redirect url="~/Data.aspx\?(.*)$" to="~/Data.aspx#$1" processing="stop"/>
    <rewrite url="~/sensors/noise_reduced/([^/]+)/(.+)\.([^?]+?)(\?(.+))?$" to="~/NoiseReducedReading.ashx?Name=$1&amp;Time=$2&amp;Type=$3&amp;$5" processing="stop"/>
    <rewrite url="~/sensors/ByID/([^/?]+).aspx$" to="~/AudioReading.aspx?ID=$1" processing="stop"/>
    <rewrite url="~/sensors/ByID/([^/?]+)\.(.+?)(\?(.+))?$" to="~/AudioReading.ashx?ID=$1&amp;Type=$2&amp;$4" processing="stop"/>
    <rewrite url="~/sensors/([^/]+)/([^/]+).zip(\?(.+))?$" to="~/AudioReadingArchive.ashx?Name=$1&amp;Date=$2&amp;$5" processing="stop"/>
    <rewrite url="~/sensors/([^/]+)/(.+)\.aspx(\?(.+))?$" to="~/AudioReading.aspx?Name=$1&amp;Time=$2&amp;$4" processing="stop"/>
    <rewrite url="~/sensors/([^/]+)/(.+)\.jpg(\?(.+))?$" to="~/Spectrogram.ashx?Name=$1&amp;Time=$2&amp;$4" processing="stop"/>
    <rewrite url="~/sensors/([^/]+)/(.+)\.(.+?)(\?(.+))?$" to="~/AudioReading.ashx?Name=$1&amp;Time=$2&amp;Type=$3&amp;$5" processing="stop"/>
    <rewrite url="~/sensors/([^/?]+)/?(\?(.+))?$" to="~/SensorDetails.aspx?Name=$1&amp;$3" processing="stop"/>
    <rewrite url="~/management/([^/?]+).aspx(\?(.+))?$" to="~/Management/$1.aspx$3" processing="stop"/>
    <rewrite url="~/management/([^/?]+)(\?(.+))?$" to="~/Management/DeploymentManagement.aspx?Name=$1&amp;$3" processing="stop"/>
    <rewrite url="~/georss/([^/?]+).rss(\?(.+))?$" to="~/GeoRssHandler.ashx?AudioTag=$1&amp;$3" processing="stop"/>
    <if method="PUT">
      <rewrite url="~/rest/([^/?]+)/data/([^/?]+)/(\?(.+))?$" to="~/RestInterface/DataUpload.ashx?DeviceID=$1&amp;Time=$2&amp;$4" processing="stop"/>
    </if>
  </rewriter>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.net>
    <mailSettings>
      <smtp from="mquter@qut.edu.au">
        <network host="smtp.qut.edu.au"/>
      </smtp>
    </mailSettings>
  </system.net>
  <location path="users/AssignDeployment.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="management">
    <system.web>
      <authorization>
        <allow roles="management,administrators,st bees, bac"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="admin">
    <system.web>
      <authorization>
        <allow roles="administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="users/createuser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="users">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Processor/Processor.svc">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Processor">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Prototypes">
    <system.web>
      <authorization>
        <allow roles="administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true" performanceCounters="Default">
      <messageLogging logEntireMessage="false" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <extensions>
    </extensions>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxEnabledServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="AccessPermissionsServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="SecurityServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="TagServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="DeviceServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="ProcessorServcieEndpointBehaviour">
          <dataContractSerializer />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="DebugBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="VETokenServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="AudioReadingsSearch2Behavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
              membershipProviderName="MyMembershipProvider" />
          </serviceCredentials>
          <serviceAuthorization principalPermissionMode="UseAspNetRoles"
            roleProviderName="MyRoleProvider" />
        </behavior>
        <behavior name="TagServiceAspNetAjaxBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="TagCloudServicesvcBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SecurityServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SnippetServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="AudioUploadsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ProfileServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="PlaylistServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ProcessorServiceBehavior" >
          <serviceMetadata httpGetEnabled="true"   />
          <serviceDebug includeExceptionDetailInFaults="true"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" />
        <binding name="basicBindingLarger" maxBufferSize="4194304" maxReceivedMessageSize="4194304" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsWithMTOM" maxReceivedMessageSize="66553600">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding name="TagServiceBinding" maxBufferSize="20971520" maxBufferPoolSize="20971520"
          maxReceivedMessageSize="20971520">
          <readerQuotas maxDepth="20971520" maxStringContentLength="20971520"
            maxArrayLength="20971520" maxBytesPerRead="20971520" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="VETokenServiceBehavior" name="TokenService">
        <endpoint address="" binding="basicHttpBinding" contract="ITokenService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="TagServiceAspNetAjaxBehavior"
        name="TagService">
        <endpoint address="" behaviorConfiguration="TagServiceAspNetAjaxBehavior"
          binding="webHttpBinding" bindingConfiguration="TagServiceBinding"
          contract="TagService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="DebugBehavior" name="DeviceService">
        <endpoint address="" behaviorConfiguration="DeviceServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="DeviceService" />
        <endpoint address="/silverlight/" binding="basicHttpBinding"
          bindingName="basicBinding" contract="DeviceService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AudioReadingsSearch2Behavior"
        name="App_Code.AudioReadingsSearch2">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          bindingName="basicBinding" contract="App_Code.IAudioReadingsSearch2" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="TagCloudServicesvcBehavior" name="QutSensors.Logic.TagCloudServicesvc">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicBinding"
          bindingName="basicBinding" contract="ITagCloudServicesvc" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SecurityServiceBehaviour" name="SecurityService">
        <endpoint address="/silverlight/" binding="basicHttpBinding"
          bindingName="basicBinding" contract="SecurityService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SnippetServiceBehavior" name="App_Code.Services.SnippetService">
        <endpoint address="/silverlight/" binding="basicHttpBinding"
          bindingName="basicBinding" contract="App_Code.Services.ISnippetService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="AudioUploadsServiceBehavior"
        name="App_Code.Services.AudioUploadsService">
        <endpoint address="/silverlight/" binding="basicHttpBinding"
          bindingName="basicBinding" contract="App_Code.Services.IAudioUploadsService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ProfileServiceBehavior" name="App_Code.Services.ProfileService">
        <endpoint address="/silverlight/" binding="basicHttpBinding"
          bindingName="basicBinding" contract="App_Code.Services.IProfileService" />
        <endpoint address="" binding="basicHttpBinding" bindingName="basicBinding"
          contract="App_Code.Services.IProfileService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ProfileServiceBehavior" name="Services.HackyServiceThatExposesAllTypesWeMightWantToUse">
        <endpoint address="" binding="basicHttpBinding" bindingName="basicBinding" contract="Services.HackyServiceThatExposesAllTypesWeMightWantToUse"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="PlaylistServiceBehavior" name="App_Code.PlaylistService">
        <endpoint address="/silverlight/" binding="basicHttpBinding"
          bindingName="basicBinding" contract="App_Code.Services.IPlaylistService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ProcessorServiceBehavior" name="ProcessorService">
        <endpoint address="" behaviorConfiguration="ProcessorServcieEndpointBehaviour"
          binding="basicHttpBinding" bindingConfiguration="basicBindingLarger"
          name="default" contract="ProcessorService" />
        <endpoint address="mex" binding="mexHttpBinding" name="metadata"
          contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
