<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="AnalysisTechnique" value="od"/>
    <add key="AnalysisTechniqueParameterFile" value="OD_CaneToad_Params.txt"/>
    
    <add key="Encoder" value="c:\lame\lame.exe"/>
    <add key="EncoderFormatString" value="--quiet {2} {0} {1}"/>
    <!-- 0 = input (wav file), 1 = output (mp3 file), 2 = aggregated parameter sweep arguments -->

    <add key="Decoder" value="c:\lame\lame.exe"/>
    <add key="DecoderFormatString" value="--quiet --decode {0} {1}"/>
    <!-- 0 = input (mp3 file), 1 = output (wav file) -->
    
    <!-- Parameter Sweeps-->
    <!-- value is interpreted a switch (optional) followed by a set of options ie; {-a }1,2,3 == -a 1, -a 2, -a 3 -->
    <add key="Param_Quality" value="{-q }0,5,9"/>
    <add key="Param_Bitrate" value="{-cbr -b }32,64,96,128,144,160"/>

  </appSettings>

  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
      
</configuration>
