<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="Data Source=(local);Initial Catalog=QutSensors_Test;Integrated Security=True;" />
		<!--<add name="LocalSqlServer" connectionString="Data Source=sensor.mquter.qut.edu.au;Initial Catalog=QutSensors;User ID=laua;Password=laua"/>-->
		<!--<add name="LocalSqlServer" connectionString="Data Source=sensor.mquter.qut.edu.au;Initial Catalog=QutSensors;Integrated Security=True;" />-->
	</connectionStrings>
	<system.web>
		<roleManager defaultProvider="MyRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="MyRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="QutSensors"/>
			</providers>
		</roleManager>
		<membership defaultProvider="MyMembershipProvider">
			<providers>
				<clear/>
				<add name="MyMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" applicationName="QutSensors" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="20" />
			</providers>
		</membership>
	</system.web>
</configuration>