# General Parameters
ANALYSIS_NAME=Harmonics
SEGMENT_DURATION=1.0
FRAME_OVERLAP=0.00
# save a sonogram for each recording that contained a hit 
DRAW_SONOGRAMS=2


# CROW PARAMETERS
CROW_MIN_HZ=900          
CROW_CALL_DURATION=0.35
CROW_DECIBEL_THRESHOLD=1.3
CROW_HARMONIC_INTENSITY_THRESHOLD=0.1
CROW_MIN_FORMANT_GAP=250
CROW_MAX_FORMANT_GAP=400

# HUMAN PARAMETERS
FRAME_LENGTH=512
# min and max of the freq band to search
HUMAN_MIN_HZ=100          
HUMAN_MAX_HZ=2000
HUMAN_MIN_FORMANT_GAP=200
HUMAN_MAX_FORMANT_GAP=400
# Expected minimum and maximum duration of an event in seconds.
HUMAN_MIN_FORMANT_DURATION=0.1
HUMAN_MAX_FORMANT_DURATION=0.7
HUMAN_INTENSITY_THRESHOLD=0.25
# Event threshold - use this to adjust FP / FN trade-off for events.
# Is actually the dB amplitude of the harmonic fluctuations
#HUMAN_MIN_AMPLITUDE=3.0

# MACHINE PARAMETERS
MACHINE_MIN_HZ=50          
MACHINE_MAX_HZ=1000
MACHINE_MIN_FORMANT_GAP=50
MACHINE_MAX_FORMANT_GAP=100
# Expected minimum and maximum duration of an event in seconds.
MACHINE_MIN_FORMANT_DURATION=5
# Event threshold - use this to adjust FP / FN trade-off for events.
MACHINE_INTENSITY_THRESHOLD=0.05

