ANALYSIS_NAME=Towsey.LewinsRail
#SEGMENT_DURATION=minutes,   SEGMENT_OVERLAP=seconds        
SEGMENT_DURATION=1
SEGMENT_OVERLAP=0
UPPERFREQBAND_TOP=4100
UPPERFREQBAND_BTM=3400
LOWERFREQBAND_TOP=2900
LOWERFREQBAND_BTM=2600
MIN_PERIOD=0.18
MAX_PERIOD=0.25
MIN_DURATION=3
MAX_DURATION=15
#use this threshold if averaging over a period - averaging seems to work better
INTENSITY_THRESHOLD=0.01
#use this threshold if obtaining max value over a period
#INTENSITY_THRESHOLD=0.1
# save a sonogram for each recording that contains a hit 
DRAW_SONOGRAMS=2

