ANALYSIS_NAME=Towsey.Frogs
# General Parameters
DISPLAY_COLUMNS=Frog

# FROG_DATA_FILE=FrogDataAndCompilationFile.csv
FROG_DATA_FILE=CompilationOf31FrogSpeciesForCurramoreSE-QLD.csv

#SEGMENT_DURATION=minutes,   SEGMENT_OVERLAP=seconds        
SEGMENT_DURATION=1
SEGMENT_OVERLAP=0
MIN_PERIOD=0.01
MAX_PERIOD=0.04
MIN_DURATION=0.3
MAX_DURATION=0.8
#use this threshold if averaging over a period - averaging seems to work better
INTENSITY_THRESHOLD=0.22
#use this threshold if obtaining max value over a period
#INTENSITY_THRESHOLD=0.1
#######################################
# save sonograms and other files 
SAVE_INTERMEDIATE_WAV_FILES=false
SAVE_INTERMEDIATE_CSV_FILES=false
SAVE_SONOGRAM_FILES=true
DO_NOISE_REDUCTION=true
BG_NOISE_THRESHOLD=3.0


