ANALYSIS_NAME=Towsey.Grids
#SEGMENT_DURATION=minutes,   SEGMENT_OVERLAP=seconds        
SEGMENT_DURATION=1
SEGMENT_OVERLAP=0
#use this threshold if averaging over a period - averaging seems to work better
INTENSITY_THRESHOLD=0.03
#use this threshold if obtaining max value over a period
#INTENSITY_THRESHOLD=0.25
# save a sonogram for each recording that contains a hit 
DRAW_SONOGRAMS=2

