<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProgramBaseDirectory" value="C:\Documents and Settings\markcottmanf\My Documents\Sensor Projects\testing-2010-06-08\AudioAnalysis\AnalysisPrograms\bin\Debug" />
    <add key="RunDirectory" value="C:\Documents and Settings\markcottmanf\My Documents\Sensor Projects\ProcessingTest\Runs" />

    <add key="JobRunUserName" value=""/>
    <add key="JobRunPassword" value=""/>

    <add key="LogDir" value="C:\Documents and Settings\markcottmanf\My Documents\Sensor Projects\SensorsTrunk\QutSensors.AnalysisProcessor\bin\Debug"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding_ProcessorService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="4194304" maxBufferPoolSize="524288" maxReceivedMessageSize="4194304"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="default" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2669/Services/ProcessorService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicBinding_ProcessorService"
        contract="ProcessorService.ProcessorService" name="basicBinding_ProcessorService" />
      <endpoint address="http://localhost:2669/services/ProcessorService.svc"
        binding="basicHttpBinding" bindingConfiguration="default" contract="ProcessorService.ProcessorService"
        name="default" />
    </client>
  </system.serviceModel>
</configuration>