<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- can be relative to the exe or absolute [AnalysisPlugins]-->
    <add key="PluginDirectories" value="C:\Work\Software Dev\svn-trunk\AudioAnalysis\AnalysisPrograms\bin\Debug"/>
    <add key="BaseAnalysisRunsDir" value="C:\Work\Software Dev\AnalysisRunTesting"/>
    <add key="AnalysisIdentifier" value="Towsey.CaneToadOd"/>
    <!--<add key="Files" value="C:\Work\Software Dev\test-audio\8c0489ad-5604-4be3-b0aa-440f52617077_100813-1200.mp3"/>-->
    <add key="Files" value="C:\Work\Software Dev\test-audio\cane toad_20120523_082701.wav" />

    <!-- Audio utility locations-->
    <!--
    <add key="AudioUtilityFfmpegExe" value="audio-utils\ffmpeg\ffmpeg.exe" />
    <add key="AudioUtilityFfprobeExe" value="audio-utils\ffmpeg\ffprobe.exe" />
    <add key="AudioUtilityWvunpackExe" value="audio-utils\wavpack\wvunpack.exe" />
    <add key="AudioUtilityMp3SpltExe" value="audio-utils\mp3splt\mp3splt.exe" />
    <add key="AudioUtilitySoxExe" value="audio-utils\sox\sox.exe" />
-->

    <add key="AudioUtilityFfmpegExe" value="C:\Work\Software Dev\svn-trunk\AudioAnalysis\AnalysisPrograms\bin\Debug\audio-utils\ffmpeg\ffmpeg.exe" />
    <add key="AudioUtilityFfprobeExe" value="C:\Work\Software Dev\svn-trunk\AudioAnalysis\AnalysisPrograms\bin\Debug\audio-utils\ffmpeg\ffprobe.exe" />
    <add key="AudioUtilityWvunpackExe" value="C:\Work\Software Dev\svn-trunk\AudioAnalysis\AnalysisPrograms\bin\Debug\audio-utils\wavpack\wvunpack.exe" />
    <add key="AudioUtilityMp3SpltExe" value="C:\Work\Software Dev\svn-trunk\AudioAnalysis\AnalysisPrograms\bin\Debug\audio-utils\mp3splt\mp3splt.exe" />
    <add key="AudioUtilitySoxExe" value="C:\Work\Software Dev\svn-trunk\AudioAnalysis\AnalysisPrograms\bin\Debug\audio-utils\sox\sox.exe" />


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
