<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Compiler.Tools" version="4.1.17" targetFramework="net40" />
  <package id="FSPowerPack.Community" version="3.0.0.0" targetFramework="net40" />
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net40" />
  <package id="FSPowerPack.Linq.Community" version="3.0.0.0" targetFramework="net40" />
  <package id="FSPowerPack.Metadata.Community" version="3.0.0.0" targetFramework="net40" />
  <package id="FSPowerPack.Parallel.Seq.Community" version="3.0.0.0" targetFramework="net40" />
  <package id="FsUnit" version="1.3.0.1" targetFramework="net40" />
  <package id="FsUnit.xUnit" version="1.3.0.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net40" developmentDependency="true" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
</packages>