--- 
# WARNING!!! The keys (i.e. root name of each object below) MUST BE EXACTLY the SAME as those 
#            declared in the class InitialiseIndexProperties (starting at line 30).
# The root object name maps to the Key property on the IndexProperties class
# and to the members in the class SummaryIndexValues:SummaryIndexBase
 
RankOrder:
  Name: Ordering of audio segments
  Comment: "Ensures that audio segments are correctly ordered."
  DataType: int
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 240.0
  ProjectID: Acoustic Indices
  Units: ""
StartOffset:
  Name: Segment start time
  Comment: "Exact time span (total minutes) from start of recording to start of this segment."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: false
  NormMin: 0.0
  NormMax: 200.0
  ProjectID: Acoustic Indices
  Units: "min"
StartOffsetMinute:
  Name: Segment start minute
  Comment: "Total minutes from start of recording to start of this segment."
  DataType: int
  DefaultValue: 0.0
  DoDisplay: false
  NormMin: 0.0
  NormMax: 200.0
  ProjectID: Acoustic Indices
  Units: "min"
ResultStartSeconds:
  Name: Segment start second
  Comment: "Total seconds from start of recording to start of this segment."
  DataType: int
  DefaultValue: 0.0
  DoDisplay: false
  NormMin: 0.0
  NormMax: 200.0
  ProjectID: Acoustic Indices
  Units: "sec"
SegmentDurationSeconds:
  Name: Time duration of audio segment
  Comment: "Time span of audio segment - typically 60 seconds."
  DataType: TimeSpan
  DefaultValue: 0.0
  DoDisplay: false
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: "s"
HighAmplitudeIndex:
  Name: High Amplitude Index
  Comment: "Av number of samples/sec where abs. amplitude is within 10*epislon of the max signal value."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 5.0
  ProjectID: Acoustic Indices
  Units: "av/s"
ZeroSignal:
  Name: Zero Signal Index
  Comment: "Indicates if signal segment is flat or zero."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
ClippingIndex:
  Name: Clipping Index
  Comment: "Av number of clipped samples/sec i.e. where the abs. amplitude of two conscutive samples is within 4*epislon of the max signal value."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 5.0
  ProjectID: Acoustic Indices
  Units: "avClips/s"
AvgSignalAmplitude:
  Name: av Signal Ampl
  Comment: "Av amplitude of the signal envelope in dB."
  DataType: double
  DefaultValue: -80
  DoDisplay: true
  # -50 dB is typical level for environmental BGN
  NormMin: -50.0
  NormMax: -10.0
  ProjectID: Acoustic Indices
  Units: "dB"
BackgroundNoise:
  Name: Background Noise
  Comment: "Av amplitude of the noise removed from the audio segment using the method of Lamel et al."
  DataType: double
  DefaultValue: -80
  DoDisplay: true
  # SNR.MINIMUM_dB_BOUND_FOR_ZERO_SIGNAL + 10
  NormMin: -50.0
  NormMax: -10.0
  ProjectID: Acoustic Indices
  Units: "dB"
Snr:
  Name: Maximum SNR
  Comment: "Max amplitude of signal envelope after noise removal."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 50.0
  ProjectID: Acoustic Indices
  Units: "dB"
AvgSnrOfActiveFrames:
  Name: av SNR (Active frames)
  Comment: "Av amplitude of active frames in signal envelope after noise removal. Active frames are those with amplitude > threshold 3 dB."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 30.0
  ProjectID: Acoustic Indices
  Units: "dB"
Activity:
  Name: Activity
  Comment: "% of active frames i.e. where SNR exceeds threshold = 3 dB."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
EventsPerSecond:
  Name: Events per sec
  Comment: "Av number of events per second. An event is any consecutive sequence of active frames having duration > threshold = 100 ms."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 5.0
  ProjectID: Acoustic Indices
  Units: ""
AvgEventDuration:
  Name: Av Event Duration
  Comment: "Av duration in ms of the events in an audio segment."
  DataType: TimeSpan
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1000
  ProjectID: Acoustic Indices
  Units: "ms"
#EventsTotal:
#  Name: Event Count
#  Comment: "The total count of acoustic events per minute of recording."
#  DataType: double
#  DefaultValue: 0.0
#  DoDisplay: true
#  NormMin: 0
#  NormMax: 15.0
#  ProjectID: Acoustic Indices
#  Units: ""
#EventsTotalThresholded:
#  Name: Event Count
#  Comment: "Count of acoustic events (wide range)"
#  DataType: double
#  DefaultValue: 0.0
#  DoDisplay: false
#  NormMin: 5
#  NormMax: 25
#  ProjectID: Acoustic Indices
#  Units: ""
HighFreqCover:
  Name: hf Cover
  Comment: "% hf Cover 4000 Hz to 8800 Hz"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0
  NormMax: 0.5
  ProjectID: Acoustic Indices
  Units: ""
MidFreqCover:
  Name: mf Cover
  Comment: "% mf Cover. 500 Hz to 4000 Hz"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.50
  ProjectID: Acoustic Indices
  Units: ""
LowFreqCover:
  Name: lf Cover
  Comment: "% lf Cover. 0 - 500 Hz"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.50
  ProjectID: Acoustic Indices
  Units: ""
AcousticComplexity:
  Name: ACI
  Comment: "ACI"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.4
  NormMax: 0.7
  ProjectID: Acoustic Indices
  Units: ""
TemporalEntropy:
  Name: 1-H[t]
  Comment: "1-Ht is a measure of concentration of acoustic energy instead of energy dispersal."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.5
  ProjectID: Acoustic Indices
  Units: ""
SqrtTempEntropy:
  Name: Sqrt(1-H[t])
  Comment: "Sqrt(1-Ht) is an attempt to obtain more even distribution of Ht values. NormMax = sqrt(0.5)"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.7
  ProjectID: Acoustic Indices
  Units: ""
LogTempEntropy:
  Name: Log(1-H[t])
  Comment: "Log(1-Ht) is an attempt to obtain more even distribution of Ht values. NormMax = log(1 + 0.5)"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.176
  ProjectID: Acoustic Indices
  Units: ""
EntropyOfAverageSpectrum:
  Name: 1-H[avg spectrum]
  Comment: "1-H[spectral avg] is a measure of concentration of acoustic energy in the average spectrum over one minute."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
EntropyOfVarianceSpectrum:
  Name: 1-H[var spectrum]
  Comment: "1-H[spectral var] is a measure of concentration of acoustic energy in the variance spectrum over one minute."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: false
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
EntropyOfPeaksSpectrum:
  Name: 1-H[peak freq spectrum]
  Comment: "1-H[peak freq] is a measure of concentration of peak frequencies over one minute."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
EntropyOfCoVSpectrum:
  Name: 1-H[CoV spectrum]
  Comment: "1-H[CoV sp] is a measure of concentration of energy in the Coeff of Variance Spectrum."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
ClusterCount:
  Name: Cluster Count
  Comment: "Number of spectral clusters in one minute audio segment as determined by a clustering algorithm."
  DataType: int
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0
  NormMax: 50
  ProjectID: Acoustic Indices
  Units: ""
ThreeGramCount:
  Name: 3-gram Count
  Comment: "Number of different tri-gram spectral cluster sequences."
  DataType: int
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0
  NormMax: 1500
  ProjectID: Acoustic Indices
  Units: ""
SptDensity:
  Name: SPT density
  Comment: "Average number of spectral peaks tracks traversing a frame."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 10.0
  ProjectID: Acoustic Indices
  Units: ""
#SptPerSecond:
#  Name: av Tracks/Sec
#  Comment: "Average number of spectral tracks per second."
#  DataType: double
#  DefaultValue: 0.0
#  DoDisplay: true
#  NormMin: 0
#  NormMax: 50
#  ProjectID: Acoustic Indices
#  Units: ""
#AvgSptDuration:
#  Name: av Track Duration
#  Comment: "Average duration of a spectral track."
#  DataType: TimeSpan
#  DefaultValue: 0.0
#  DoDisplay: true
#  NormMin: 0.25
#  NormMax: 2.0
#  ProjectID: Acoustic Indices
#  Units: "s"
#CicadaIndex:
#  Name: Cicada Index
#  Comment: "OBSOLETE! DEPRACATED! Cicada score calculated every 10 sec and 6 values averaged over the minute."
#  DataType: double
#  DefaultValue: 0.0
#  DoDisplay: false
#  NormMin: 0
#  NormMax: 1.0
#  ProjectID: Acoustic Indices
#  Units: ""
NDSI:
  Name: NDSI
  Comment: "Normalised Difference Soundscape Index) calculated from PSD - originated from Stuart Gage."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: -1.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
NDSI-LM:
  Name: NDSI-LM
  Comment: "Normalised Difference Soundscape Index) ratio of Mid/Low freq bands."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: false
  NormMin: -1.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
NDSI-MH:
  Name: NDSI-MH
  Comment: "Normalised Difference Soundscape Index)  ratio of High/Mid freq bands."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: false
  NormMin: -1.0
  NormMax: 1.0
  ProjectID: Acoustic Indices
  Units: ""
EventsTotal:
  Name: Event Count
  Comment: "The total count of acoustic events per minute of recording."
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0
  NormMax: 15.0
  ProjectID: Acoustic Indices
  Units: ""
EventsTotalThresholded:
  Name: Event Count
  Comment: "Count of acoustic events (wide range)"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: false
  NormMin: 5
  NormMax: 25
  ProjectID: Acoustic Indices
  Units: ""
ZeroCrossingFractionLeft:
  Name: Zero Crossing Fraction Left
  Comment: ""
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Channel Integrity
  Units: ""
ZeroCrossingFractionRight:
  Name: Zero Crossing Fraction Right
  Comment: ""
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Channel Integrity
  Units: ""
ChannelSimilarity:
  Name: Channel Similarity
  Comment: "similarityIndex = (min*min)/(max*max), where min=min of two channels and max = max of the two. Summed over all freq bins"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 1.0
  ProjectID: Channel Integrity
  Units: ""
ChannelDiffDecibels:
  Name: Channel Difference in decibels
  Comment: "decibelIndex = dBmax-dBmin, where dBmin=min of two channels and dBmax = max of the two. Summed over all freq bins"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: -8.0
  NormMax: 8.0
  ProjectID: Channel Integrity
  Units: "decibels"
AverageDecibelBias:
  Name: Average Channel Bias in decibels
  Comment: "avDecibelBias += (dbLeft-dbRight). Summed over all freq bins"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: -8.0
  NormMax: 8.0
  ProjectID: Channel Integrity
  Units: "decibels"
MedianDecibelBias:
  Name: Median Channel Bias in decibels
  Comment: "medianDecibelBias += (medianOfLeftSpectrum-medianOfRightSpectrum). Summed over all freq bins"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: -0.2
  NormMax: 0.2
  ProjectID: Channel Integrity
  Units: "decibels"
LowFreqDecibelBias:
  Name: Low Freq Channel dB Bias
  Comment: "lowFreqDbBias += (dbLeft-dbRight). Summed over low freq bins, 0-2kHz"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: -10.0
  NormMax: 10.0
  ProjectID: Channel Integrity
  Units: "decibels"
MidFreqDecibelBias:
  Name: Mid-Freq Channel dB Bias
  Comment: "midFreqDbBias += (dbLeft-dbRight). Summed over mid freq bins, 2-7kHz"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: -10.0
  NormMax: 10.0
  ProjectID: Channel Integrity
  Units: "decibels"
HighFreqDecibelBias:
  Name: High Freq Channel dB Bias
  Comment: "highFreqDbBias += (dbLeft-dbRight). Summed over high freq bins, 7khz-nyquist"
  DataType: double
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: -5.0
  NormMax: 5.0
  ProjectID: Channel Integrity
  Units: "decibels"
FileName:
  Name: File Name
  Comment: "FILLER TO STOP WARNING MESSAGE! File Name"
  DataType: int
  DefaultValue: 0.0
  DoDisplay: false
  ProjectID: Acoustic Indices
  Units: ""
# ADD NEW SUMMARY INDICES ABOVE HERE
# ====================================================================================================================================
# ====================================================================================================================================
# ADD NEW SPECTRAL INDICES BELOW HERE

# IMPORTANT:  SPECTRAL INDCIES MUST BE OF TYPE Double[]
ACI:
  Name: spectralACI
  Comment: "Spectrum of ACI values, one value for each frequency bin."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.4
  NormMax: 0.7
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: ""
BGN:
  Name: spectralBGN
  Comment: "Spectrum of dB value of the background 'noise' removed each frequency bin."
  DataType: double[]
  DefaultValue: -100.0
  DoDisplay: true
  # min = SNR.MINIMUM_dB_BOUND_FOR_ZERO_SIGNAL - 20 = -80-20 = -100, 
  # Usual max value is around -30 to -40.
  NormMin: -100.0
  NormMax: -30.0
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: "dB"
CVR:
  Name: spectralCVR
  Comment: "Freq bin COVER: Spectrum of the fraction of active elements in each freq bin where amplitude > threshold = 3 dB."
  # IMPORTANT - sometimes this is expressed as a percentage rather than fraction. NEED TO CHECK!!
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.2
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: ""
DIF:
  Name: spectralDIF
  Comment: "Summed DIFFERENCES between consecutive FFT coeff's in the ampl spgram. This IS NOT an acoustic index. . It is used as intermediate for subsequent calculation of ACI."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 10.0
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: ""
ENT:
  Name: spectralENT
  Comment: "1 - Temporal Entropy. Default value = 0.0 because index = 1-Ht = a measure of concentration of acoustic energy instead of energy dispersal."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.6
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: ""
EVN:
  Name: spectralEVN
  Comment: "Spectrum of acoustic events per second (as defined above) in each frequency band."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 2.0
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: "events/s"
OSC:
  Name: spectralOSC
  Comment: "Spectrum of Oscillation amplitudes derived from the amplitude spgram."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.1
  NormMax: 5.0
  CalculateNormBounds: true
  # Merge conflict values from https://github.com/QutEcoacoustics/audio-analysis/pull/233
  #NormMin: 0.0
  #NormMax: 10.0
  #CalculateNormMin: true
  #CalculateNormMax: true
  ProjectID: Acoustic Indices
  Units: ""
SUM:
  Name: spectralSUM
  Comment: "Spectrum of summed FFT coefficients derived from the ampl spgram. This IS NOT an acoustic index. It is used for intermediate calculations only."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 10.0
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: ""
PMN:
  Name: spectralPMN
  Comment: "Spectrum of average dB power in each frequency bin after noise removal."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 15.0
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: "dB"
RHZ:
  Name: spectralRHZ
  Comment: "Spectrum of average number of horizontal spectral ridges per sec."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.1
  NormMax: 1.0
  CalculateNormBounds: false
  # Merge conflict values from https://github.com/QutEcoacoustics/audio-analysis/pull/233
  #NormMax: 1.5
  #CalculateNormMin: false
  #alculateNormMax: false
  ProjectID: Acoustic Indices
  Units: "tracks/s"
RVT:
  Name: spectralRVT
  Comment: "Spectrum of average number of vertical spectral ridges per sec."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.1
  NormMax: 0.4
  CalculateNormBounds: true
  # Merge conflict values from https://github.com/QutEcoacoustics/audio-analysis/pull/233
  #CalculateNormMin: false
  #CalculateNormMax: false
  ProjectID: Acoustic Indices
  Units: "tracks/s"
RPS:
  Name: spectralRPS
  Comment: "Spectrum of average number of positive slope ridges per sec."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.4
  CalculateNormBounds: true
  # Merge conflict values from https://github.com/QutEcoacoustics/audio-analysis/pull/233
  #CalculateNormMin: false
  #CalculateNormMax: false
  ProjectID: Acoustic Indices
  Units: "tracks/s"
RNG:
  Name: spectralRNG
  Comment: "Spectrum of average number of negative slope ridges per sec."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.0
  NormMax: 0.4
  CalculateNormBounds: true
  # Merge conflict values from https://github.com/QutEcoacoustics/audio-analysis/pull/233
  #CalculateNormMin: false
  #CalculateNormMax: false
  ProjectID: Acoustic Indices
  Units: "tracks/s"
R3D:
  Name: spectralR3D
  Comment: "Spectrum of max value of horizontal, positive and negative slope ridges per sec."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.15
  NormMax: 1.0
  CalculateNormBounds: true
  # Merge conflict values from https://github.com/QutEcoacoustics/audio-analysis/pull/233
  #CalculateNormMin: false
  #CalculateNormMax: false
  ProjectID: Acoustic Indices
  Units: "tracks/s"
SPT:
  Name: spectralSPT
  Comment: "Spectrum of average number of spectral Peak Tracks per second within each freq bin."
  DataType: double[]
  DefaultValue: 0.0
  DoDisplay: true
  NormMin: 0.05
  NormMax: 0.5
  CalculateNormBounds: false
  ProjectID: Acoustic Indices
  Units: "tracks/s"