<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="audiobrowserlog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <root>
      <!-- possible values: ALL DEBUG INFO WARN ERROR FATAL OFF -->
      <level value="INFO"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>

  <appSettings>
    <!-- Audio utility locations-->
    <add key="AudioUtilityFfmpegExe" value="audio-utils\ffmpeg\ffmpeg.exe"/>
    <add key="AudioUtilityFfprobeExe" value="audio-utils\ffmpeg\ffprobe.exe"/>
    <add key="AudioUtilityWvunpackExe" value="audio-utils\wavpack\wvunpack.exe"/>
    <add key="AudioUtilityMp3SpltExe" value="audio-utils\mp3splt\mp3splt.exe"/>
    <add key="AudioUtilitySoxExe" value="audio-utils\sox\sox.exe"/>
    <add key="AudacityExe" value="C:\Program Files (x86)\Audacity 1.3 Beta (Unicode)\audacity.exe"/>
    <add key="SourceFileExt" value=".mp3"/>

    <add key="AnalysisList" value="None,Indices,LSKiwi"/>
    
    <!-- 
      <add key="DefaultAnalysisName" value="AcousticIndices"/>
      <add key="DefaultAnalysisName" value="LSKiwi"/>
      <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\LittleSpottedKiwi_Params.txt"/>
    -->
    <add key="DefaultAnalysisName" value="LSKiwi"/>

    
    <add key="DefaultSourceDir"  value="C:\SensorNetworks\WavFiles\ACEASDemo\"/>
    <add key="DefaultOutputDir"  value="C:\SensorNetworks\WavFiles\ACEASDemo\LSKiwi\"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\ACEASDemo\LSKiwi\LSKiwi_Params.txt"/>
    <!-- Program settings -->
    <!--
    <add key="DefaultSourceDir" value="I:\Projects\QUT\QutSensors\sensors-trunk\QutSensors.Test\TestData"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\AcousticIndices_Params.txt"/>
    <add key="DefaultOutputDir" value="I:\Projects\QUT\QutSensors\sensors-trunk\QutSensors.Test\TestData\output"/>
    
    <add key="DefaultSourceDir" value="C:\Sensors\Test audio"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\AcousticIndices_Params.txt"/>
    <add key="DefaultOutputDir" value="C:\Sensors\Test audio\output"/>


    <add key="DefaultSourceDir" value="Z:\Site9\"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\AcousticIndices_Params.txt"/>
    <add key="DefaultOutputDir" value="C:\SensorNetworks\WavFiles\SunshineCoast\Site9\"/>

    <add key="DefaultSourceDir" value="C:\SensorNetworks\WavFiles\Kiwi\"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\AcousticIndices_Params.txt"/>
    <add key="DefaultOutputDir" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\"/>

    <add key="DefaultSourceDir"  value="C:\SensorNetworks\WavFiles\Kiwi\"/>
    <add key="DefaultOutputDir"  value="C:\SensorNetworks\WavFiles\Kiwi\Results_TOWER_20100208_204500\"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\Results_TOWER_20100208_204500\lskiwi_Params.txt"/>

    -->


    <!--
    <add key="FrameLength" value="512"/>
    <add key="ResampleRate" value="17640"/>
    <add key="LowFreqBound" value="500"/>
    <add key="MidFreqBound" value="3500"/>
    <add key="SegmentDuration" value="1"/>
    <add key="SegmentOverlap" value="0"/>
    <add key="FrameOverlap" value="0.0"/>
    -->
    
    <add key="TrackHeight" value="20"/>
    <add key="TrackCount" value="15"/>
    <add key="TrackNormalisedDisplay" value="true"/>
    <add key="SonogramBackgroundThreshold" value="4.0"/>

  </appSettings>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
