<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <!-- Audio utility locations-->
    <add key="AudioUtilityFfmpegExe" value="Executables\ffmpeg\ffmpeg.exe"/>
    <add key="AudioUtilityWvunpackExe" value="Executables\wavpack\wvunpack.exe"/>
    <add key="AudioUtilityMp3SpltExe" value="Executables\mp3splt\mp3splt.exe"/>
    <add key="AudioUtilitySoxExe" value="Executables\sox\sox.exe"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
