<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Program settings -->
    <!--
    <add key="AnalysisList" value="None,Acoustic,Canetoad,Crow,Gecko,Human,KoalaMale,LewinsRail,LSKiwi3,MultiAnalyser" />

    <add key="DefaultSourceDir" value="C:\SensorNetworks\WavFiles\Kiwi\" />
    <add key="DefaultOutputDir" value="C:\SensorNetworks\Output\LSKiwi3\" />
    //KIWI OPTIONS
    //Tower,   TuiTce_20091215_210000,   TuiTce_20091215_220004,    Kapiti
    <add key="DefaultSourceDir"    value="Audio-samples\" />
    <add key="DefaultOutputDir"    value="C:\SensorNetworks\Output\LSKiwi3\Tower\" />


    <add key="DefaultSourceDir" value="Z:\Sunshine Coast" />
    <add key="DefaultOutputDir" value="C:\SensorNetworks\Output\SunshineCoast\" />

    <add key="DefaultSourceDir" value="Audio-samples\" />
    <add key="DefaultOutputDir" value="Output\SunshineCoast\" />
    <add key="DefaultConfigDir" value="C:\Work\Sensors9\AudioAnalysis\AnalysisConfigFiles\" />

    <add key="DefaultSourceDir" value="C:\SensorNetworks\WavFiles\Other\" />
    <add key="DefaultConfigDir" value="Configs\" />
    <add key="DefaultOutputDir" value="C:\SensorNetworks\Output\Test\" />

    <add key="DefaultSourceDir"  value="C:\SensorNetworks\WavFiles\ACEASDemo\"/>
    <add key="DefaultOutputDir"  value="C:\SensorNetworks\WavFiles\ACEASDemo\LSKiwi\"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\ACEASDemo\LSKiwi\LSKiwi.cfg"/>

    <add key="DefaultSourceDir" value="I:\Projects\QUT\QutSensors\sensors-trunk\QutSensors.Test\TestData"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\Indices.cfg"/>
    <add key="DefaultOutputDir" value="I:\Projects\QUT\QutSensors\sensors-trunk\QutSensors.Test\TestData\output"/>
    
    <add key="DefaultSourceDir" value="C:\Sensors\Test audio"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\Indices.cfg"/>
    <add key="DefaultOutputDir" value="C:\Sensors\Test audio\output"/>


    <add key="DefaultSourceDir" value="Z:\Site9\"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\Indices.cfg"/>
    <add key="DefaultOutputDir" value="C:\SensorNetworks\WavFiles\SunshineCoast\Site9\"/>

    <add key="DefaultSourceDir" value="C:\SensorNetworks\WavFiles\Kiwi\"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\Indices.cfg"/>
    <add key="DefaultOutputDir" value="C:\SensorNetworks\WavFiles\Kiwi\AcousticIndices\"/>

    <add key="DefaultSourceDir"  value="C:\SensorNetworks\WavFiles\Kiwi\"/>
    <add key="DefaultOutputDir"  value="C:\SensorNetworks\WavFiles\Kiwi\Results_TOWER_20100208_204500\"/>
    <add key="DefaultConfigFile" value="C:\SensorNetworks\WavFiles\Kiwi\Results_TOWER_20100208_204500\LSKiwi.cfg"/>

    -->
    <!-- Audio utility locations-->
    <add key="AudioUtilityFfmpegExe" value="audio-utils\ffmpeg\ffmpeg.exe" />
    <add key="AudioUtilityFfprobeExe" value="audio-utils\ffmpeg\ffprobe.exe" />
    <add key="AudioUtilityWvunpackExe" value="audio-utils\wavpack\wvunpack.exe" />
    <add key="AudioUtilityMp3SpltExe" value="audio-utils\mp3splt\mp3splt.exe" />
    <add key="AudioUtilitySoxExe" value="audio-utils\sox\sox.exe" />
    <add key="AudioUtilityShntoolExe" value="audio-utils\shntool\shntool.exe" />
    <!-- External Applications -->
    <add key="AudacityExe1" value="C:\Program Files (x86)\Audacity\audacity.exe" />
    <add key="AudacityExe2" value="audio-utils\Audacity\audacity.exe" />
    <add key="WordPadExe" value="C:\Program Files (x86)\Windows NT\Accessories\wordpad.exe" />
    <add key="AnalysisProgramsExe" value="C:\SensorNetworks\Software\AudioAnalysis\AnalysisPrograms\bin\Debug\AnalysisPrograms.exe" />
    <add key="ConsoleExe" value="C:\WINDOWS\system32\WindowsPowerShell\v1.0\powershell.exe" />
    <!-- Directory and File Locations -->
    <add key="AnalysisWorkingDirectoryBase" value="AnalysisWorking\" />
    <add key="DefaultConfigDir" value="ConfigFiles\" />
    <add key="DefaultSourceDir" value="C:\SensorNetworks\WavFiles" />
    <add key="DefaultOutputDir" value="C:\SensorNetworks\Output" />
    <add key="SourceFileExt" value=".mp3" />
    <add key="TempFileDirectory" value="C:\Temp" />
    <!-- Analysis Settings  -->
    <add key="DefaultAnalysisName" value="Towsey.Acoustic" />
    <!-- Display Settings -->
    <add key="DefaultSegmentDuration" value="1" />
    <add key="DefaultResampleRate" value="17640" />
    <add key="TrackHeight" value="20" />
    <add key="TrackCount" value="15" />
    <add key="TrackNormalisedDisplay" value="false" />
    <add key="SonogramBackgroundThreshold" value="4.0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AForge.Math" publicKeyToken="abba2e25397ee8c9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="YamlDotNet.RepresentationModel" publicKeyToken="2b53052c5884d7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.26319" newVersion="2.0.1.26319" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AForge" publicKeyToken="c1db6ff4eaa06aeb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.Math" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>