<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProgramDirectory" value="C:\Documents and Settings\markcottmanf\My Documents\Sensor Projects\From 10-04-06\AudioAnalysis\AnalysisPrograms\bin\Debug"/>
    <add key="RunDirectory" value="C:\Documents and Settings\markcottmanf\My Documents\Sensor Projects\ProcessingTest\Runs"/>
    <add key="ProgramName" value="AnalysisPrograms.exe"/>
    
    <add key="DeleteFinishedRuns" value="true"/>

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding_ProcessorService" maxBufferSize="4194304"
          maxReceivedMessageSize="4194304">
          <security>
            <transport realm="" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://131.181.206.250/Services/ProcessorService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicBinding_ProcessorService"
        contract="ProcessorService.ProcessorService" name="basicBinding_ProcessorService" />
    </client>
  </system.serviceModel>
</configuration>