<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.4" />
  <package id="AForge.Genetic" version="2.2.4" />
  <package id="AForge.Math" version="2.2.4" />
  <package id="AForge.Neuro" version="2.2.4" />
  <package id="FSPowerPack.Community" version="2.1.1.1" />
  <package id="ImpromptuInterface" version="6.0.6" targetFramework="net40-Client" />
  <package id="ImpromptuInterface.FSharp" version="1.2.6" targetFramework="net40-Client" />
  <package id="QuickGraph" version="3.6.61119.7" />
</packages>