<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogDir" value="C:\Sensor MQUTeR\CacheProcessor\Logs"/>
    <add key="ConversionFolder" value="D:\Sensors_Conversions\" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="Data Source=(local);Initial Catalog=QutSensors;Persist Security Info=False;Integrated Security=True;"/>
  </connectionStrings>
</configuration>