<?xml version="1.0" encoding="utf-8"?>

<log4net>

  <level>
    <name value="PROMPT" />
    <value value="150000" />
  </level>

  <root>
    <!-- possible values for logging levels: ALL DEBUG INFO WARN ERROR FATAL OFF -->
    <!-- This value is modified at run time based on command line arguments -->
    <!-- Do NOT set appender level filters! -->
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
    <appender-ref ref="ConsoleAppender" />
    <!-- this logger is programmatically removed on program initialization -->
    <appender-ref ref="SimpleConsoleAppender" />
  </root>

  <logger name="CleanLogger">
    <level value="ALL" />
    <appender-ref ref="CleanConsoleAppender" />
  </logger>

  <!-- Log to a rolling file. -->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Once" />
    <datePattern value="yyyyMMdd_HHmmss" />
    <staticLogFileName value="false" />
    <maxSizeRollBackups value="50" />
    <maximumFileSize value="100KB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{o} [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <!-- Log to console.-->
  <appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{o}] %-5level - %message%newline%exception" />
    </layout>
    <!-- Kept for backwards compatibility. Used for pretty printing console logging. -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="CleanLogger" />
      <!-- LoggedConsole class does clean console printing. See  `CleanConsoleAppender` below -->
      <acceptOnMatch value="false" />
    </filter>
    <!-- A special logger that only logs to file -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="LogFileOnly" />
      <acceptOnMatch value="false" />
    </filter>
    <mapping>
      <!-- Our custom 'PROMPT' level-->
      <level value="PROMPT" />
      <foreColor value="Magenta" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="DarkRed" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <!-- Synonym for success -->
      <level value="NOTICE" />
      <foreColor value="Green" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Gray" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Cyan" />
    </mapping>
    <mapping>
      <level value="TRACE" />
      <foreColor value="DarkCyan" />
    </mapping>
    <mapping>
      <level value="VERBOSE" />
      <foreColor value="DarkBlue" />
    </mapping>
  </appender>

  <!-- Log to a console without datestamps -->
  <appender name="CleanConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
    <!-- Used for clean printing console logging. -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="CleanLogger" />
      <!-- only accept LoggedConsole logs -->
      <acceptOnMatch value="true" />
    </filter>
    <mapping>
      <!-- Our custom 'PROMPT' level-->
      <level value="PROMPT" />
      <foreColor value="Magenta" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <foreColor value="Red" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="DarkRed" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <!-- Synonym for success -->
      <level value="NOTICE" />
      <foreColor value="Green" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Gray" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="Cyan" />
    </mapping>
    <mapping>
      <level value="TRACE" />
      <foreColor value="DarkCyan" />
    </mapping>
    <mapping>
      <level value="VERBOSE" />
      <foreColor value="DarkBlue" />
    </mapping>
  </appender>


  <!-- Log to console using a simpler format - no color ouput, and no difference between clean logger and normal one -->
  <appender name="SimpleConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{o}] %-5level - %message%newline%exception" />
    </layout>
    <!-- A special logger that only logs to file -->
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="LogFileOnly" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>

</log4net>