<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ResultsDirectory" value="F:\IF49\Work\feature workup\DataSets\FSharpResults\" />
    <add key="WorkingDirectory" value="E:\IF49\Work\feature workup\DataSets\Large Scale Example - Limited Features" />
    <add key="TestData" value="\Test Data\All.csv" />
    <add key="TrainingData" value="\Test Data\All.csv" />
  </appSettings>
</configuration>
