<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="transformations" type="FELT.Runner.TransformsConfig, FeltRunner" allowLocation="true" allowDefinition="Everywhere" />
    <section name="analyses" type="FELT.Runner.AnalysesConfig, FeltRunner" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <appSettings>
    <add key="ResultsDirectory" value="E:\IF49\Work\feature workup\DataSets\Large Scale Example - Limited Features\Results\" />
    <add key="WorkingDirectory" value="E:\IF49\Work\feature workup\DataSets\Large Scale Example - Limited Features" />
    <!--    <add key="ResultsDirectory" value="E:\IF49\Work\feature workup\DataSets\Small Scale Example - Limited Features\Results\" />-->
    <!--    <add key="WorkingDirectory" value="E:\IF49\Work\feature workup\DataSets\Small Scale Example - Limited Features" />    -->
    <!--  <add key="ResultsDirectory" value="E:\IF49\Work\feature workup\DataSets\Small Scale Example - Limited Features - WITH MIKES INDICIES - 1min matchup\Results\" />-->
    <!--  <add key="WorkingDirectory" value="E:\IF49\Work\feature workup\DataSets\Small Scale Example - Limited Features - WITH MIKES INDICIES - 1min matchup" />    -->
    <!--    -->
    <!--      <add key="ResultsDirectory" value="F:\IF49\Work\feature workup\DataSets\OLD EXAMPLE - 3 features, ref only for training\Results\" />-->
    <!--  <add key="WorkingDirectory" value="F:\IF49\Work\feature workup\DataSets\OLD EXAMPLE - 3 features, ref only for training" />    -->
    <add key="TestData" value="\Test Data\All.csv" />
    <add key="TrainingData" value="\Training Data\All.csv" />
    <!--<add key="Features" value="CreatedTime,StartTime,StartFrequency,AudioTagID,EndFrequency,RecordingTotalDuration,CreatedBy,EndTime,TagDuration,Tag,AudioReadingID,RecordingStartTime,Latitude,Longitude, IsReferenceTag"/>-->
    <!-- SiteID	#clusters	activity	avAmp-dB	avClustDur	avSegDur	bg-dB	count	hfCover	H[ampl]	H[avSpectrum]	H[peakFreq]	H[varSpectrum]	lfCover	mfCover	sec-dur	segCount	snr-dB	start-min -->
    <!-- Class Name must come first -->
    <!-- , ,StartTime-->
    <!--<add key="Features" value="Tag,#clusters,activity,avAmp-dB,avClustDur,avSegDur,bg-dB,count,hfCover,H[ampl],H[avSpectrum],H[peakFreq],H[varSpectrum],snr-dB" />-->
    <add key="Features" value="Tag,TagDuration,StartFrequency,EndFrequency,IsReferenceTag" />
    <add key="ExportFrn" value="False" />
    <add key="ExportFrd" value="False" />
    <add key="CrossAnalyseAllFeatures" value="false" />
    <add key="CrossAnalyseAllFeatures_Limit" value="100" />
  </appSettings>
  <analyses>
    <!--<analysis name="BasicGrouped" />-->
    <!--<analysis name="GlobalZScore" />-->
    <analysis name="Basic-ReferenceOnly" />
    <!--    <analysis name="WebsiteWorkFlow-SaveBinary" />-->
    <!--<analysis name="GlobalZScoreAnti" />-->
    <!--
    <analysis name="BasicGroupedAnti" />
    <analysis name="ZScoreGrouped" />
    <analysis name="ZScoreGroupedAnti" />
    <analysis name="ZScoreGroupedSingleFix" />
    <analysis name="ZScoreGroupedAntiSingleFix" />-->
    <!--<analysis name="Basic" />
    <analysis name="BasicAnti" />-->
  </analyses>
  <transformations>
    <!--    <add feature="StartTime" newName="Time of day" using="ModuloTime" />-->
    <!--<add features="StartTime,Latitude,Longitude" newName="Phase of day" using="ModuloTime" />-->
  </transformations>
</configuration>