<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProgramDirectory" value="\\131.181.206.254\Sensors\AnlaysisRoot\Apps"/>
    <add key="RunDirectory" value="\\131.181.206.254\Sensors\AnlaysisRoot\Runs"/>
    <add key="ProgramName" value="AnalysisPrograms.exe"/>

    <add key="JobRunUserName" value=""/>
    <add key="JobRunPassword" value=""/>

    <!--  10 minutes -->
    <add key="ActionIntervalMilliseconds" value="60000"/>


  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding_ProcessorService" maxBufferSize="4194304" maxReceivedMessageSize="4194304" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2669/Services/ProcessorService.svc"
        binding="basicHttpBinding" bindingConfiguration="basicBinding_ProcessorService" contract="ProcessorService.ProcessorService"
        name="default" />
    </client>
  </system.serviceModel>
</configuration>