<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<!--<add name="LocalSqlServer" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=QutSensors;Integrated Security=True" />-->
		<add name="LocalSqlServer" connectionString="Data Source=FITBLGP07.fit.qut.edu.au;Initial Catalog=QutSensors;Integrated Security=True" />
	</connectionStrings>
	<appSettings>
		<add key="DataPath" value="C:\SensorReadings" />
		<add key="SpectrumGeneratorPath" value="C:\SpectrumGenerator" />
	</appSettings>
</configuration>