<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<!--<add name="LocalSqlServer" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=QutSensors;Integrated Security=True" />-->
		<add name="LocalSqlServer" connectionString="Data Source=131.181.110.22;Initial Catalog=QutSensors;Integrated Security=True;" />
	</connectionStrings>
	<appSettings>
		<add key="DataPath" value="C:\SpectrumGenerator" />
		<add key="SpectrumGeneratorPath" value="C:\SpectrumGenerator" />
		<add key="SpectrumGeneratorDataPath" value="C:\SpectrumGenerator\data" />
	</appSettings>
</configuration>