<configuration>
  <appSettings>
    <!-- Audio utility locations for windows -->
    <add key="AudioUtilityFfmpegExe" value="audio-utils\windows\ffmpeg\ffmpeg.exe" />
    <add key="AudioUtilityFfprobeExe" value="audio-utils\windows\ffmpeg\ffprobe.exe" />
    <add key="AudioUtilityWvunpackExe" value="audio-utils\windows\wavpack\wvunpack.exe" />
    <add key="AudioUtilityMp3SpltExe" value="audio-utils\windows\mp3splt\mp3splt.exe" />
    <add key="AudioUtilitySoxExe" value="audio-utils\windows\sox\sox.exe" />
    <add key="AudioUtilityShntoolExe" value="audio-utils\windows\shntool\shntool.exe" />
    
    <!-- Audio utility locations for linux -->
    <add key="AudioUtilityFfmpegExeLinux" value="/usr/local/bin/ffmpeg" />
    <add key="AudioUtilityFfprobeExeLinux" value="/usr/local/bin/ffprobe" />
    <add key="AudioUtilityWvunpackExeLinux" value="/usr/bin/wvunpack" />
    <add key="AudioUtilityMp3SpltExeLinux" value="/usr/bin/mp3splt" />
    <add key="AudioUtilitySoxExeLinux" value="/usr/bin/sox" />
    <add key="AudioUtilityShntoolExeLinux" value="/usr/bin/shntool" />

    <!-- Audio utility locations for macos -->
    <add key="AudioUtilityFfmpegExeMacOsX" value="audio-utils/macosx/ffmpeg/ffmpeg" />
    <add key="AudioUtilityFfprobeExeMacOsX" value="audio-utils/macosx/ffmpeg/ffprobe" />
    <add key="AudioUtilityWvunpackExeMacOsX" value="audio-utils/macosx/wavpack/wvunpack" />
    <!-- mp3splt not supported on mac -->
    <add key="AudioUtilityMp3SpltExeMacOsX" value="" />
    <add key="AudioUtilitySoxExeMacOsX" value="audio-utils/macosx/sox/sox" />
    <add key="AudioUtilityShntoolExeMacOsX" value="" />

    <!-- Default target sample rate -->
    <!-- chose this value because it is simple fraction (4/5) of 22050Hz -->
    <!-- <add key="DefaultTargetSampleRate" value="17640" /> -->
    <add key="DefaultTargetSampleRate" value="22050" />
    <add key="StandardFileDateFormat" value="yyyyMMdd_HHmmsszzz" />
    <add key="StandardFileDateFormatUtc" value="yyyyMMdd_HHmmssZ" />
    <add key="StandardFileDateFormatSm2" value="yyyyMMdd_HHmmss" />
    <!--<add key="log4Net.Internal.Debug" value="true"/>-->
  </appSettings>
</configuration>