<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Audio utility locations-->
    <add key="AudioUtilityFfmpegExe" value="Executables\ffmpeg\ffmpeg.exe" />
    <add key="AudioUtilityWvunpackExe" value="Executables\wavpack\wvunpack.exe" />
    <add key="AudioUtilityMp3SpltExe" value="Executables\mp3splt\mp3splt.exe" />
    <!-- Local Processor settings -->
    <add key="LocalParameterFile" value="C:\Documents and Settings\markcottmanf\My Documents\Sensor Projects\SensorsTrunk\AudioAnalysis\RecogniserParamFiles\EPR_GroundParrot_Params.txt" />
    <add key="LocalAnalysisType" value="epr" />
    <add key="LocalResourceFile" value="" />
    <add key="LocalAnalyseDir" value="C:\" />
    <add key="LocalAnalyseFile" value="" />
    <add key="LocalRecurse" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>