<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Audio utility locations-->
    <add key="AudioUtilityFfmpegExe" value="Executables\ffmpeg\ffmpeg.exe" />
    <add key="AudioUtilityWvunpackExe" value="Executables\wavpack\wvunpack.exe" />
    <add key="AudioUtilityMp3SpltExe" value="Executables\mp3splt\mp3splt.exe" />
    
    <!-- Local Processor settings -->
    <add key="LocalParameterFile" value="C:\Documents and Settings\markcottmanf\My Documents\Sensor Projects\SensorsTrunk\AudioAnalysis\RecogniserParamFiles\EPR_GroundParrot_Params.txt"/>
    <add key="LocalAnalysisType" value="epr"/>
    <add key="LocalResourceFile" value=""/>
    <add key="LocalAnalyseDir" value="C:\"/>
    <add key="LocalAnalyseFile" value="" />
    <add key="LocalRecurse" value="true"/>
  </appSettings>
</configuration>
