<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Audio utility locations-->
    <add key="AudioUtilityFfmpegExe" value="Executables\ffmpeg.exe" />
    <add key="AudioUtilityWvunpackExe" value="Executables\wvunpack.exe" />
    <add key="AudioUtilityMp3SpltExe" value="Executables\mp3splt\mp3splt.exe" />
    
    <!-- Local Processor settings -->
    <add key="LocalParameterFile" value="C:\Documents and Settings\markcottmanf\My Documents\Sensor Projects\SensorsTrunk\AudioAnalysis\RecogniserParamFiles\EPR_GroundParrot_Params.txt"/>
    <add key="LocalAnalysisType" value="epr"/>
    <add key="LocalResourceFile" value=""/>
    <add key="LocalAnalyseDir" value="F:\Ground Parrot\August Project\Site 1"/>
    <!--<add key="LocalAnalyseFile" value="F:\Ground Parrot\August Project\Site 1\split\DM420012_0300m_00s__0360m_00s.mp3" /> -->
    <add key="LocalRecurse" value="false"/>
  </appSettings>
</configuration>
