<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppenderDetailed" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%date{o}] %-5level - %message%newline%exception" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Console" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline%exception" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="Console" />
      
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>-->

  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Once" />
    <datePattern value="yyyyMMdd_HHmmss" />
    <staticLogFileName value="false" />
    <maxSizeRollBackups value="50" />
    <maximumFileSize value="100KB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{o} [%thread] %-5level %logger - %message%newline%exception" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>
  <root>
    <!-- possible values: ALL DEBUG INFO WARN ERROR FATAL OFF -->
    <level value="ALL" />
    <!--<appender-ref ref="ConsoleAppender" />-->
    <appender-ref ref="ConsoleAppenderDetailed" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>