<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- This file allows us to load the appropriate sqlite dll on linux platforms -->
  <!-- dllmap and this section are only supported by the mono runtime -->
  <!-- http://www.mono-project.com/docs/advanced/pinvoke/dllmap/ -->
  <!-- due to a mono bug, the folder to copy in is named `libruntimes` instead of `runtimes`. See https://github.com/libgit2/libgit2sharp/issues/1170 -->

  <dllmap os="linux" cpu="x86,x86-64" wordsize="64" dll="e_sqlite3" target="runtimes/linux-x64/native/libe_sqlite3.so" />
  <dllmap os="linux" cpu="x86,x86-64" wordsize="32" dll="e_sqlite3" target="runtimes/linux-x32/native/libe_sqlite3.so" />
  <dllmap os="linux" cpu="arm" dll="e_sqlite3" target="runtimes/linux-arm/native/libe_sqlite3.so" />
  <dllmap os="linux" cpu="armv8" dll="e_sqlite3" target="runtimes/linux-armel/native/libe_sqlite3.so" />
</configuration>