<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Moq" version="4.2.1502.0911" targetFramework="net4" />
  <package id="MSTestExtensions" version="4.0.0" targetFramework="net4" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta001" targetFramework="net46" developmentDependency="true" />
  <package id="xunit" version="1.9.2" targetFramework="net4" />
  <package id="YamlDotNet" version="3.9.0" targetFramework="net46" />
</packages>